

.cardExperience{
  display: block;
  text-align: center;
  width: auto;
  gap: 10px;
  align-items: center;
  transition: transform 0.5s ease-in-out; 
}
.cardExperience-item {
  display: flex;
  border:double #fff;
  background-color: transparent;
  border-radius: 2cap;
  gap: .5cap;
  flex-direction: column;
  text-align: left;
  padding: 2cap;
  margin: 2cap;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
   rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, 
   rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out ;
}
.cardExperience-item:hover {
  background-color: #444444;
  transform: scale(1.01);
}