/* Corpo */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root{
  --neon-box-shadow:
  rgba(59, 130, 246, 0.5) 0px 0px 10px,
  rgba(59, 200, 255, 0.5) 0px 0px 20px; 

} 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #202020;
  background-image: url(/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  
  font-weight: 600;
  font-size: 1.2em small sans-serif;
  color: white;
}

p, a {
  text-decoration: none;
  margin: 0;
  font-weight: 300;
  color: white;
  font-size: 0.5em small sans-serif;
}

section {
  color: #ffffff96;
  width: 70%;
  
}

/* Menu */

.header{
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  justify-content: center;
  opacity: 0.3;
  margin-bottom: 30px;
  transition: opacity 0.4s, transform 0.4s, background-color 0.4s, scroll-behavior 0.4s;
}
.header:hover {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  background-color: rgba(40, 40, 40, 0.5);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-content nav ul{
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  font-size: 1.2em;
  transition: color 0.3s ease;
  margin: 0;
  text-decoration: none;
}
.header-button {
  justify-content:space-around ;
  display: inline-flex;
  padding: 10px;
  align-items: center;
  width: auto;
  height: 32px;
  gap: 5px;
  background-color: #25D366;
  border-radius: 1cap;
  transition: ease 0.3s;
  cursor: pointer;
  
}
.header-button:hover{
  transform: scale(1.05);
  transition: ease 0.3s;
}
.header-button button{
  width: 80px;
  height: 20px;
  font-size: 18px;
  text-decoration: none;
  background-color: #25D366;
  border: none;
  cursor: pointer;
}

.text_sublinhado a {
  position: relative;
}

.text_sublinhado a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.text_sublinhado a:hover::after {
  width: 100%;
}

.contact{
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 60px auto, 0 , auto; 
  padding: 100px;
  border:double, #202020;
  gap: 40px;
  width: 90%; 
  text-align: center;
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 10cap;
  transition: transform 0.5s ease-in, box-shadow 0.5s ease-out;
}
.contact h2{
  font-size: 2em;
  margin-bottom: 20px;
}
.contact-content {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}
.card-identity{
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  width: 100%;
  padding: 20px;
}
 .card-education{
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items:  first baseline;
  width: 100%;
  padding: 20px;
}

.card-contact{
  display:inline-flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 70vw;
  max-width: 100vw;
  max-height: 100vh;
  padding: 20px;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
}
.card-contact a {
  gap: 10px;
  color: #25D366;
  margin-bottom: 5px;
}
.image{
  margin-right: 1.5em;
}
.image img {
  overflow: hidden;
  width: 350px;
  height: 350px;
  border-radius: 5cap;
  transition: transform 0.5s ease-in, box-shadow 0.5s ease-out;
}
.image img:hover {
  transform: scale(1.03);
  box-shadow: var(--neon-box-shadow);
}

.contact:hover, .experience:hover {
  transform: scale(1.03);
  box-shadow: var(--neon-box-shadow);
}

/* habilidades */

.skills {
  margin: 2.5em auto;
  display: flexbox;
  border-radius: 10cap;
  width: 90vw;
  text-align: center;
  justify-content: center;
  }

  .project {
  margin: 2.5em auto;
  display: flexbox;
  border-radius: 10cap;
  width: 90vw;
  text-align: center;
  justify-content: center;
  }

.card-list1:hover, .card-list2:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.card img{
  width: 50px;
  height: 50px;

}

.group-linguagens {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding: 1.2em;
  gap: 20px;
}

.icone-linguagens {
  display: inline-block;
  border:2px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  border-radius: 1cap;
  width: 20%;
  padding: 1em;
  margin: 1em;
  background-color: #3a3a3a;
  transition: transform 0.5s ease-in-out;
}
.icone-linguagens:hover{
  transform: scale(1.05);
  background-color: #444444;
  box-shadow: var(--neon-box-shadow);
}

.card-list{
  align-items: center;
  gap: 30px;
  width: 100%;
  background-color: rgba(40, 40, 40, 0.7);
  padding: 7em;
  border-radius: 5cap;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

}
.card-list:hover {
  transform: scale(1.03);
  box-shadow: var(--neon-box-shadow);

}

.card-list a{
  color: #64b0e2fb;
}

.footer p,
.footer a {
  color: white;
  padding-left: 5px;
  display: inline-flex;
  align-items: center;
}

.footer {
  border:double, #202020;
  padding: 2em;
  margin-top: 7cap;
  background-color: rgba(40, 40, 40, 0.7);
  border-top-right-radius: 2cap;
  border-top-left-radius: 2cap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.footer .card-footer {
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 40px;                
  margin: 10px;
  flex-wrap: wrap;       
}
.footer-contact{
  display: flex;
  padding: 1em 5em;
  margin-bottom: 3em;
  gap: 1em;
  text-align: center;
  color: white;
  justify-content: center; 
  align-items: center;
  background-color: #3a3a3a;
  border-radius: 2cap;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

}
.footer-contact:hover{
  background-color: #444444;
  box-shadow: var(--neon-box-shadow);
  transform: scale(1.03);
}
.iconStyle{
  gap: 30px;
}

.experience{
  margin: 2em auto;
  justify-content: center;
  flex-direction: column;
  padding: 5em;
  width: 90%;
  border:double, #202020;
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 10cap;
  transition: transform 0.5s ease-in, box-shadow 0.5s ease-out;
}

.cardExperience{
  display: block;
  text-align: center;
  width: auto;
  gap: 10px;
  align-items: center;
  transition: transform 0.5s ease-in-out; 
}
.cardExperience-item {
  display: flex;
  border:double #fff;
  background-color: transparent;
  border-radius: 2cap;
  gap: .5cap;
  flex-direction: column;
  text-align: left;
  padding: 2cap;
  margin: 2cap;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
   rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, 
   rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out ;
}
.cardExperience-item:hover {
  background-color: #444444;
  transform: scale(1.03);
}
.project-conteiner{
  background-color: rgba(40, 40, 40, 0.7);
  padding: 7em;
  border-radius: 5cap;
  transition: transform 0.5s ease-in, box-shadow 0.5s ease-out;
  gap: 30px;
}

.project-list{
  display: inline-flex;
  align-items: center;
  width: auto;
  height: auto;
  max-height: 90%;
  max-width: 100%;
  margin: 1em;
}

.projectDiv{
  display: inline-flex;
  flex-wrap: wrap;
  border: 3px solid #000;
  background-color: #2B2B2B;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, 
rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1cap;
  justify-content: center;
  width: 50%;
  padding: 1em 1em 3em 1em;
  margin: 1em;
  transition: transform 0.5s ease-in-out;
}
.projectDiv img{
  width: 300px;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
   rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, 
   rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 20px;
  border: grey solid;
  border-radius: 2cap;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.projectDiv:hover, .projectDiv img:hover{
  transform: scale(1.03);
}
.projectDiv img:hover{
  transform: scale(1.03);
  box-shadow: var(--neon-box-shadow);
}
.project-conteiner:hover{
  transform: scale(1.03);
  box-shadow: var(--neon-box-shadow);
}

@media (max-width: 720px) {
  .header-content nav ul {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
  .contact {
    flex-direction: column;
    padding: 20px;
  }
  .contact-content {
    flex-direction: column;
    align-items: center;
  }
  .skills-content {
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
  }
  .image img {
    max-height: 300px;
    max-width: 300px;
    width: 100vw;
    height: 100vh;
  }
  .card-list {
    width: 85vw;
    max-width: 100vw;
    padding: 20px;
    border-radius: 5cap;
  }
  .card-contact{
    width: 100%;
    margin-top: -25px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
  }
}
